<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Django.md</key>
			<dict>
				<key>lastModification</key>
				<real>514093090.02209699</real>
				<key>version</key>
				<dict>
					<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>django-rest-framework.md</key>
			<dict>
				<key>lastModification</key>
				<real>514093090.02209502</real>
				<key>version</key>
				<dict>
					<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514093096.627069</real>
				<key>lastModification</key>
				<real>514093096.627069</real>
				<key>version</key>
				<dict>
					<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>正则.md</key>
			<dict>
				<key>lastModification</key>
				<real>514093090.02209902</real>
				<key>version</key>
				<dict>
					<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>知识点.md</key>
			<dict>
				<key>lastModification</key>
				<real>514093090.022098</real>
				<key>version</key>
				<dict>
					<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>被解放的姜戈.md</key>
			<dict>
				<key>lastModification</key>
				<real>514093090.022098</real>
				<key>version</key>
				<dict>
					<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>记录.md</key>
			<dict>
				<key>lastModification</key>
				<real>514093090.02209902</real>
				<key>version</key>
				<dict>
					<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>django-rest-framework.md</string>
		</array>
		<array>
			<string>Django.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>被解放的姜戈.md</string>
		</array>
		<array>
			<string>知识点.md</string>
		</array>
		<array>
			<string>正则.md</string>
		</array>
		<array>
			<string>记录.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>dc982efb93d2ac4811ef840c6cd81e83979be035babc64a25b9a8babab1cd0d4</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
